@media (max-width: 1750px) {
    .middle-section-tiles {
        gap: 20px;
    }
}

@media (max-width: 1550px) {
    .section-header {
        flex-direction: column;
    }
}

@media (max-width: 1350px) {
    .burger-button {
        display: block;
    }

    .header-right {
        display: none;   
    }

    .name-and-email-inputs,
    .phone-and-service-inputs {
        flex-direction: column;
    }

    .form input,
    .form select,
    .form textarea {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    #middle-section {
        padding: 57px;
    }

    .middle-section-tiles {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: unset;
    }

    .middle-section-tiles .tile {
        max-width: unset;
    }
}

@media (max-width: 1100px) {
    .section-header .inner-nav ul li {
        font-size: 13px;
    }
}

@media (max-width: 1000px) {
    .header-nav {
        display: none;
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    #main-section .main-section-content {
        padding: 0 50px;
    }
}