* {
    color: #FFFFFF;
}

button:hover,
.input-container i {
    cursor: pointer;
    transform: scale(1.01);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #191A19;
    width: 100vw;
    height: 160px;
    top: 0;
    left: 0;
    padding: 49px 113px 44px 113px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    z-index: 5;
}

.header-nav ul li a,
.header-right .header-select select,
.header-right button,
.main-section-content h2,
.main-section-content p,
.main-section-content .buttons a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.header-nav,
.header-select select,
.header-right button {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    gap: 34px;
    height: 40px;
    transition: all 0.5s ease-in;
}

.header-nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in;
}

.burger-button {
    display: none;
    background: transparent;
    border: none;
}

.active-page,
.header-nav ul li:hover a {
    color: #FF7420;
}

.active-page::after,
.header-nav ul li:hover a::after {
    content: "";
    width: 90%;
    position: relative;
    left: 0;
    border-bottom: 3px solid #FF7420;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.header-select select {
    background: transparent;
    border: none;
}

.header-right button {
    background: #FF7420;
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
}

.burger-button:hover,
.header-right button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

#main-section {
    margin-top: 160px;
    height: 935px;
}

#main-section .img-container {
    position: relative;
    width: 100vw;
    height: 100%;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right top;
}

#main-section .main-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
    height: 100%;
    position: relative;
    padding: 0 0 0 112px;
    top: -100%;
    z-index: 1;
}

.main-section-content h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 24px;  
}

.main-section-content h2 span {
    color: #FF7420;
}

.main-section-content p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 85px;
}

.main-section-content .buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;   
}

.main-section-content .buttons a {
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #191A19;
}

.main-section-content .buttons a i {
    margin-left: 12px;
}

.main-section-content .buttons a:first-child {
    background: #FF7420;
    color: #FFFFFF;
}

#middle-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color:  #FF7420;
    padding: 57px 111px;
}

.middle-section-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: calc((100% - 3*485px)/2);
}

.section-header {
    margin-bottom: 50px;
}

.section-header,
.section-header .inner-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-header h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #191A19;
}

.middle-section-tiles .tile {
    max-width: 485px;
    height: 613px;
    border-radius: 15px;
    overflow: hidden;
}

.tile img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.tile .tile-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    top: -200%;
    height: 95%;
    z-index: 2;
}

.tile-content p:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 5px;
}

.tile-content p:last-child {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.effect {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: -100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.08%, #000000 100%);
}

.inner-nav ul {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.inner-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.active a {
    color: #191A19;
}

.inner-nav ul li:hover a {
    color: #191A19;
}

.active::after,
.inner-nav ul li:hover:after{
    content: "";
    width: 90%;
    border-bottom: 3px solid #191A19;
}

.button-container {
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-container button {
    background-color: transparent;
    border: none;
    color: #191A19;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.button-container button i {
    margin-left: 15px;
}

#bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 52px 112px;
    position: relative;
    background: linear-gradient(180deg, #191A19 0%, rgba(0, 0, 0, 0) 152.79%);
}

#bottom-section h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 28px;
    color: #FF7420;
}

#bottom-section .client-says {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.client-says p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.client-says p:first-child {
    margin-bottom: 14px;
}

.client-says p:last-child {
    margin-top: 4px;
}

#bottom-section h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    margin-top: 87px;
    margin-bottom: 121px;
    text-align: center;
}

.form-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 41px;
}

.form,
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FF7420;
    border-radius: 15px;
    padding: 52px 60px;
}

.form h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
}

.form p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.name-and-email-inputs,
.phone-and-service-inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 18px;
}

.form input,
.form select,
.form textarea {
    width: 50%;
    color: rgba(25, 26, 25, 0.5);
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
    padding: 23px 65px 23px 65px;
}

.form textarea {
    width: 100%;
    height: 150px;
}

.form button,
.contact-info button {
    background: #191A19;
    border-radius: 15px;
    margin-top: 24px;
    border: none;
    width: 100%;
    padding: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.contact-info h4:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 38px;
}

.contact-info h4:not(:first-child) {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.contact-info h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 4px;
}

.contact-info p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

footer {
    background-color: #191A19;
    padding: 50px 120px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.footer-top img {
    max-width: 300px;
    margin-bottom: 20px;
}

.subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.footer-top .subscribe label {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.input-container input {
    width: 300px;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.input-container i {
    position: relative;
    left: -10px;
    z-index: 1;
}


.footer-top .subscribe {
    display: flex;
    flex-direction: row;
}

.footer-middle {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 100px;
    margin-bottom: 27px;
}

.footer-middle div p:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 14px;
}

.footer-middle div p:not(:first-child) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links li {
    margin-bottom: 4px;
}

.social-media-links {
    display: flex;
    flex-direction: row;
}

.social-media-links a:not(:last-child) {
    margin-right: 20px;
}